asgiref==3.8.1
bytecode==0.16.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
ddtrace==3.1.0
Deprecated==1.2.18
Django==5.1.6
envier==0.6.1
idna==3.10
importlib_metadata==8.5.0
legacy-cgi==2.6.2
opentelemetry-api==1.30.0
packaging==24.2
protobuf==5.29.3
pycparser==2.22
PyMySQL==1.1.1
pyuwsgi==2.0.28.post1
redis==5.2.1
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wrapt==1.17.2
xmltodict==0.14.2
zipp==3.21.0
