asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
Deprecated==1.2.15
Django==5.1.4
googleapis-common-protos==1.66.0
idna==3.10
importlib_metadata==8.5.0
opentelemetry-api==1.28.2
opentelemetry-distro==0.49b2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-http==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-asyncio==0.49b2
opentelemetry-instrumentation-aws-lambda==0.49b2
opentelemetry-instrumentation-dbapi==0.49b2
opentelemetry-instrumentation-django==0.49b2
opentelemetry-instrumentation-grpc==0.49b2
opentelemetry-instrumentation-logging==0.49b2
opentelemetry-instrumentation-pymysql==0.49b2
opentelemetry-instrumentation-redis==0.49b2
opentelemetry-instrumentation-requests==0.49b2
opentelemetry-instrumentation-sqlite3==0.49b2
opentelemetry-instrumentation-threading==0.49b2
opentelemetry-instrumentation-urllib==0.49b2
opentelemetry-instrumentation-urllib3==0.49b2
opentelemetry-instrumentation-wsgi==0.49b2
opentelemetry-propagator-aws-xray==1.0.2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-test-utils==0.49b2
opentelemetry-util-http==0.49b2
packaging==24.2
protobuf==5.29.1
pycparser==2.22
PyMySQL==1.1.1
pyuwsgi==2.0.28.post1
redis==5.2.1
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wrapt==1.17.0
zipp==3.21.0
